@media screen and (max-width: 400px) {
  header {
    flex-direction: row;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  img {
    display: none;
  }
}

@media screen and (max-width: 775px) {
  header {
    flex-direction: column;
  }

  li {
    margin: 15px;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }

  main {
    flex-direction: column;
  }

  aside {
    align-self: center;
  }

  p {
    align-self: center;
  }

  span {
    font-size: 38px;
  }

  h2 {
    font-size: 36px;
  }

  form {
    margin: 0 auto;
    width: 100%;
  }

  input {
    align-self: center;
    width: 300px;
  }

  img {
    display: none;
  }

  ul {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  main h2 {
    font-size: 30px;
  }

  p {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 35px;
  }

  aside {
    text-align: center;
  }

  p {
    line-height: 20px;
    font-family: "poppinsligth";
    padding: 10px;
    text-align: center;
  }

  h2 {
    font-size: 46px;
    line-height: 0px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
  }

  input {
    align-self: center;
    width: 300px;
  }

  img {
    width: 400px;
    margin-top: 150px;
    margin-left: 55px;
  }

  ul {
    text-align: center;
  }

  footer {
    width: 100%;
    padding-left: 0;
  }
}
